body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:789px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:98px;
  width:1233px;
  height:789px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:280px;
  height:70px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#FFFFFF;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:656px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:139px;
  width:918px;
  height:656px;
  opacity:0.6;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:595px;
  background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:171px;
  width:852px;
  height:595px;
  opacity:0.8;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:188px;
  width:269px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:698px;
  width:131px;
  height:47px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:127px;
  word-wrap:break-word;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:268px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:424px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:347px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:498px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:154px;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:568px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:707px;
  width:131px;
  height:29px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:424px;
  width:347px;
  height:43px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:347px;
  width:547px;
  height:43px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:498px;
  width:347px;
  height:43px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:268px;
  width:547px;
  height:43px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:574px;
  width:110px;
  height:32px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u166_input:disabled {
  color:grayText;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:574px;
  width:128px;
  height:32px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u167_input:disabled {
  color:grayText;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:574px;
  width:109px;
  height:32px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u168_input:disabled {
  color:grayText;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:498px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:424px;
  width:158px;
  height:43px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:34px;
  width:707px;
  height:54px;
}
#u171_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:54px;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:54px;
  width:176px;
  height:108px;
  visibility:hidden;
}
#u177_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:108px;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:176px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u181_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u185_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:108px;
  visibility:hidden;
}
#u189_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:108px;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:54px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:177px;
  height:54px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:255px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:340px;
  width:653px;
  height:255px;
  opacity:0.6;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:207px;
  background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:364px;
  width:606px;
  height:207px;
  opacity:0.8;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:421px;
  width:503px;
  height:94px;
  font-family:'Showcard Gothic Oblique', 'Showcard Gothic Normal', 'Showcard Gothic';
  font-weight:400;
  font-style:oblique;
  font-size:36px;
  color:#FFFFFF;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:499px;
  word-wrap:break-word;
}
